<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Do not rewrite if the requested file or directory exists
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Route everything else to index.html
  RewriteRule ^ index.html [L]
</IfModule>
